.about-top {
    @include shadow-container;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    background-color: $backgroundColorSection;
    border: 1px solid rgba(128, 128, 128, 0.1);
    overflow: hidden;
}

.about-top__text-container {
    max-width: 700px;
    text-align: center;
}

.about-top__my-name {
    font-weight: 600;
    color: darken($colorLightGreen, 10%);
}

.about-top__my-position {
    margin-top: 10px;
    font-weight: 400;
    font-size: .9rem;
}

.about-bottom {
    @include shadow-container;
    @include container;
    @include flex-center;
}

.about-bottom__txt-container{
    position: relative;
    max-width: 470px;
    padding: 10px 100px 10px 30px;
    .h2{
        margin-bottom: 15px;
        font-size: 1.3rem;
        background-color: $backgroundColorSection;
    }
    .l1{
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0;
        width: 1px;
        height: 0;
        background-color: $colorLine
    }
}

.intro-container{
    visibility:hidden;
    @include  shadow-container;
    width: 100%;
    max-width: 800px;
    padding: 5% 3%;
    border-radius: 15px;
    background-color: $backgroundColorContainer;
    border: $borderContainer;
        svg{
            width: 100%;
            height: auto;
        }
}

@media screen and (max-width: 1450px) {
    .about-bottom__txt-container{
        padding: 30px 50px 30px 30px;
        max-width: 400px;
    }
    .about-top {
        align-items: center;
        text-align: center;
        padding: 30px;
        margin-bottom: 20px;
    }
    .about-top__my-name {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1250px) {
    .about-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .l1{
        display: none
    }
    .intro-container{
        max-width: 100%;
    }

    .about-bottom__txt-container{
        max-width: 600px;
        padding: 30px 10px 0 10px;
        border-left: none;

        .h2{
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 900px) {
    .about-top {
        margin-bottom: 20px;
        padding: 20px;
    }
    .intro-container{
        padding: 7% 3%;
    }

}