.main {
	width: 100%;
	height: auto;
	position: relative;
}

.main__container {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	background-color: $backgroundColorSection;
	flex-direction: column;
}

.main-content {
	margin-bottom: 25px;
	position: relative;
	z-index: 1;
	&:last-child {
		margin-bottom: 0;
	}
}

.content__title {
	position: relative;
	margin-bottom: 3%;

	&::before {
		width: 45px;
		@include title-section-line;
		left: -75px;
	}

	&::after {
		width: 45px;
		@include title-section-line;
		right: -75px;
	}

}


@media screen and (max-width: 700px) {
	.content__title {
		&::before,
		&::after {
			width: 50px;
		}

		&::before {
			left: -70px;
		}

		&::after {
			right: -70px;
		}
	}
}

@media screen and(max-width:500px) {
	.main-content {
		margin-bottom: 0;
	}

	.content__title {
		margin-bottom: 8%;
	}
}
