.main {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    // visibility:hidden;
}

.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.main-content {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 20px;
    }
}
// .scene {
//     visibility:hidden
// }
.content__title {
    position: relative;
    margin-bottom: 5%;

    &::before {
        width: 50px;
        @include title-section-line;
        left: -80px
    }

    &::after{
        width: 50px;
        @include title-section-line;
        right: -80px
    }

    @media screen and (max-width:700px){
        .content__title {
            &::before, 
            &::after {
                width: 50px
            }
            
            &::before{
                left: -70px
            }
            
            &::after{
                right: -70px
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .main {
        grid-column: 1/-1;
        grid-row: 2/-1;
    }
}

@media screen and(max-width:500px) {
    .main-content {
        margin-bottom: 20px;
    }
    
    .content__title {
        margin-bottom: 8%;
    }
}