.nav {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
}

.nav__container {
    @include nav-shadow;
    width: 100%;
    height: 100%;
    height: 70px;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $backgroundColorSection;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    transition: .5s;
}
.nav--hide{
    transform: translateY(-100%);
}

.nav__item {
    font-size: 1rem;
    letter-spacing: 1px;
    color: $colorLight;
    font-family: 'Roboto Mono', monospace;
    margin: 0 20px;
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
    &:first-child{
        border-top: none;
    }

    &:hover {
        color: $colorLightGreen;
    }

    &:focus {
        color: $colorLightGreen;
    }
}

.nav__item--active{
    color: $colorLightGreen;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    display: none;
    z-index: 999;
    &:hover{
        background-color: transparent;
    }
}

.hamburger__box {
    width: 38px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    @include hamburger-content;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger__inner::before,
.hamburger__inner::after {
    @include hamburger-content;
    content: "";
    left: 0;
    transition: transform .2s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

.hamburger__inner.newClass::after {
    background-color: $colorLight;
    transition: .2s ease-in-out;
}

.hamburger__inner.newClass::before {
    background-color: $colorLight;
    transition: .2s ease-in-out;
}

@media screen and (max-width:750px){
    .nav{
        @include nav-shadow;
        background-color: $backgroundColorSection;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }

    .nav__container{
        height: auto;
        flex-direction: column;
        padding: 40px 0 0 0;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 0;
        top:0;
        transform: translateY(-101%);
        transition: transform .5s;
        z-index: 998;
    }

    .nav__item {
        width: 100%;
        padding: 20px 0;
        border: none;
        text-align: center;
    }

    .hamburger {
        display: inline-block;
    }
}

.nav__container--active{
    transform: translateY(0px);
    transition: transform .4s;
}