.main {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
}

.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.main-content {
    margin-bottom: 30px;
    background-color: darken($backgroundColorDark, 5%);

    &:last-child {
        margin-bottom: 20px;
    }
}
.content__title{
    color: darken($colorLightGreen, 35%);
    margin-bottom:80px;
    font-size: 1.7rem
}
//intro------------------>
.intro {
    @include btn-shadow;
    @include flex-center;
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    height:auto;
    min-height: 400px;
    overflow: hidden;
    img{
        position: absolute;
        width: 100%;
        height: auto;
        opacity: .1;
    }
}

@media screen and (max-width: 950px) {
    .main {
        grid-column: 1/-1;
        grid-row: 2/-1;
    }
    .content__title{
        margin-bottom:60px;
    }
}

@media screen and(max-width:700px) {
    .main-content {
        margin-bottom: 20px;
    }

}
@media screen and(max-width:500px) {
    .content__title{
        font-size: 1.2rem;
    }
    .intro{
        padding: 60px 20px;
    }
}
