.main{
    overflow: hidden;
    flex-grow: 1;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

//projects--------------->
.projects{
    // @include btn-shadow;
    max-width: 100%;
    min-height: 100%;
    margin:0 35px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 8px;
        background-color: darken(grey, 15%);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darken(grey, 30%);
    }
}
.project{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 30px;
}
.project__img-container{
    height: 100%;
    width: 650px;
    img{
        @include btn-shadow;
        width: 100%;
        height: auto;
    }
}
.project__about{
    width: 300px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project__text{
    margin: 25px 0;
    font-size: 14px;
}
.project__links{
    display: flex;
}
.link{
    padding: 0 20px;
    opacity: .8;
    &:last-child{
        border-right: none;
        padding: 0 0 0 20px;
    }
    &:first-child{
        padding: 0 20px 0 0;
        position: relative;
        &::before{
           content: '';
           position: absolute;
           right: 0;
           top: 0;
           height: 100%;
           border-right: 1px solid $colorLight;
        }
    }
    &:hover{
        opacity: 1;
    }
    &:hover::before{
        opacity: 0.8;
    }
}

//skills--------------->

.skills{
    // @include btn-shadow;
    max-width: 100%;
    min-height: 100%;
    margin:0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.graphic-programs{
margin-top: 40px;
}
.skills__title{
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: 1.1rem;
    position: relative;
    color: $colorTxt;
    &::before{
        content: '';
        position:absolute;
        border-top: 1px solid $colorTxt;
        width: 25px;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.skills__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.skills__item{
    // margin-right: 1rem;
    // margin-bottom: 1rem;
    width: 210px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $skillsItemBg;  
    &:last-child{
        margin-right: 0;
        margin-bottom: 0;
    }
    &{
        text-align: center;
        small{
          font-size: .7rem;
        }
    }
}

.main-content{
    transition: .7s ease;
}