.main{
    overflow: hidden;
    flex-grow: 1;
    height: 100%;
}
.main__container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }
}
.main-content{
    transition: .7s ease;
    margin:0 2% 2%;
    background-color: darken($backgroundColorDark, 5%);
    &:last-child{
        margin-bottom: 0;
    }
}
//intro------------------>
.intro{
    @include btn-shadow;
    @include flex-center;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: calc(100vh - 3%);
}





