.nav{
    width: 250px;
    height: 100%;
    align-self: flex-end;
    position: relative;
}
.nav__container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav__item{
    @include btn-shadow;
    @include flex-center;
    font-size: 1.05rem;
    letter-spacing: 1px;
    width: 100%;
    height: calc(97% / 4);
    margin-bottom: 10px;
    background-color: darken($backgroundColorDark, 5%);
    color: $colorLight;
    font-family: 'Roboto Mono', monospace;
    
    &:last-child{
        margin-bottom: 0;
    }
}


