.nav {
    grid-column: 2/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0 !important;
    right: 0 !important;
    z-index: 100;
}

.nav__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $backgroundColor;
}

.nav__item {
    @include shadow-container;
    @include flex-center;
    font-size: 1.05rem;
    letter-spacing: 1px;
    width: 100%;
    height: calc(95% / 4);
    margin-bottom: 10px;
    background-color: $backgroundColorSection;
    color: $colorLight;
    font-family: 'Roboto Mono', monospace;
    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background: rgb(37, 37, 39);
        background: linear-gradient(0deg, rgb(35, 36, 37) 0%, rgba(48,49,54,1) 100%);
        color: $colorLightGreen;
    }

    &:focus {
        color: $colorLightGreen;
    }
}
.nav__item--active{
    background: rgb(37, 37, 39);
    background: linear-gradient(0deg, rgb(35, 36, 37) 0%, rgba(48,49,54,1) 100%);
    color: $colorLightGreen;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    display: none;
    z-index: 999;
}

.hamburger__box {
    width: 38px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    @include hamburger-content;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger__inner::before,
.hamburger__inner::after {
    @include hamburger-content;
    content: "";
    left: 0;
    transition: transform .2s ease-in-out;
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

.hamburger__inner.newClass::after {
    background-color: $colorLight;
    transition: .2s ease-in-out;
}

.hamburger__inner.newClass::before {
    background-color: $colorLight;
    transition: .2s ease-in-out;
}

@media screen and (max-width: 1480px) {
        .nav__item {
            font-size: 1rem;
        }
}
@media screen and (max-width: 900px){
    .nav {
        grid-column: 1/-1;
        grid-row: 1/2;
        height: 100%;
        padding: 0;
    }
    .nav__container {
        flex-direction: row; 
    }
    .nav__item {
        height: 100%;
        width: calc(95% / 4);
        font-size: .9rem;
    }

}
@media screen and (max-width:600px){
    .nav{
        @include shadow-container;
        background-color: darken($backgroundColorDark, 6%);
        padding: 0 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav__container{
        @include shadow-container;
        background-color: darken($backgroundColorDark, 6%);
        height: auto;
        flex-direction: column;
        padding: 20px 0;
        position: absolute;
        left: 0;
        top:0;
        transform: translateY(-100%);
        transition: transform .4s;
        z-index: 998;
    }
    .nav__item {
        width: 100%;
        padding: 20px 0;
    }
    .hamburger {
        display: inline-block;
    }
}
.nav__container--active{
    transform: translateY(70px);
    transition: transform .4s;
}