.projects{
    @include btn-shadow;
    grid-column: 2/3;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 80px 30px;
}
.project{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom:80px;
    &:last-child{
        margin: 0;
    }
    // padding: 30px;
}
.project__img-container{
    height: 100%;
    width: 650px;
    img{
        width: 100%;
        height: auto;
    }
}
.project__about{
    width: 350px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.project__name{
    font-size: 1.2rem;
}

.project__text{
    padding: 15px 0;
    border-bottom: 1px solid $colorLine;
}
.project__links{
    display: flex;
    padding: 15px 0;
}
.link{
    padding: 0 20px;
    opacity: .9;
    &:last-child{
        border-right: none;
        padding: 0 0 0 20px;
    }
    &:first-child{
        padding: 0 20px 0 0;
        position: relative;
        &::before{
           content: '';
           position: absolute;
           right: 0;
           top: 0;
           height: 100%;
           border-right: 1px solid $colorLine;
        }
    }
    &:hover{
        opacity: 1;
    }
    &:hover::before{
        opacity: 0.8;
    }
}

@media screen and (max-width: 1280px){
    .project{
        flex-direction: column;
        align-items: center;
    }

    .project__about{
        width: 650px;
        margin-left: 0;
        margin-top: 30px;
        flex-direction: column;
    }
}
@media screen and (max-width: 700px){
    .projects{
        padding: 50px 20px;
    }
    .project{
       margin-bottom: 50px;
    }
    .project__img-container{
        width: 100%;
    }
    .project__about{
        width: 100%;
        margin-top: 20px;
    }
}
