$backgroundColor: rgb(24, 24, 24);
$backgroundColorSection: #191919;
$backgroundColorContainer: #212121;
$colorLight: #d6d4d4;
$colorRed: #ff2a45;
$colorLightGreen: #64f4ac;
$colorLightGreen: #6FEBB4;
$colorTxt:#c2c2c2;
$colorLine:#5c5c5c;
$borderContainer:1px solid rgb(51, 52, 53);
