//colors
$background: #0f0f0f;
$background: #0e0d0d;
$backgroundColorDark:#1b1c1f;
$backgroundColorDark:#312f2f;
$backgroundColorDark:#292727;
// $backgroundColorDark:#181a1d;
$backgroundColorGrey:#222222;
$skillsItemBg:#26272b;
$skillsItemBg:#363638;
$colorLight: #ccc;
$colorYellow: #fce44e;
$colorYellow: #64f4ac;
$colorRed: #ff2a45;
$colorLightGreen: #64f4ac;
$colorTxt:#acabab;
$colorLine:#5c5c5c;